* {
    box-sizing: border-box;
}
 body {
    height: 100%;
    margin: 0;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}

/* background-image  */
.bg {
    background-image: url(../css/images/pexels-photo-5865071-min.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}


/* header styling */

#header {
   text-align: center;
   font-size: 150%;
   color:aliceblue;
   text-shadow: 0 2px black;
   
   background-color: rgba(255, 255, 255, 0.5);
   overflow: auto;
}

/* navbar */

.site-menu {
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.5);
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 auto;
    text-shadow: 0 2px black;
    font-size: 120%;    

    

}
/* navbar-links */

.site-menu > a {
text-align: center;
    padding: 5px;
    letter-spacing: 4px;
    color: aliceblue;
    text-decoration: none;
    

}
a:hover {

    background-color: rgba(73, 17, 26, 0.5);
}
/* welcome to heavens */

.main {
    color: aliceblue;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    text-shadow: 0 2px black;
}

/* also code for certain text styles */

.text {
    color: aliceblue;
}

.h2-text {
    color: aliceblue;
    text-align: center;
    font-size: 100%;
    
}
.h3-text {
    color: aliceblue;
    text-align: center;
    font-size: 200%;
    
}
/* about style */

.about-head {
    text-align: center;
    font-size: 300%;
    color: aliceblue;
    padding: 5px;
    padding: 10px;
    text-shadow: 0 2px black;
    margin-top: 50px;
    margin-bottom: 0 auto;
    width: 100%;
}

.about-text {
    
    margin: 0 auto;
    font-size: 120%;
    color: aliceblue;
    
    
}
/* border for about text */

.corners {
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(73, 17, 26, 0.5);
   
    

}
/* wine section */

/* Wine header */

.wine-header {
    color: aliceblue;
    text-shadow: 0 2px black;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 300%;
    margin-top: 50px;
}

.wine-text {
    color:aliceblue;
    text-align: center;
    padding: 25px;
    font-size: 125%;
    margin-top: 0;

    /* border for wine-text  */
    
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(73, 17, 26, 0.6);
}
 /* Images for wine-section  */
div.stack {

   width: 50%;
   height: auto;
   display: block;
   margin: 0 auto;
   
}
.images {
    float:left;
    margin-left: 5%;

}

div.images img {

    border: 1px solid black;
    width: 200px;
    height: auto;
}
.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

/* contact section styling */

.contact-header {
    margin-top: 15px;
    margin-bottom: none;
}
.h2-contact {
    
    text-align: center;
    color:aliceblue;
    font-size: 150%;
}

.h3-contact {
    color:aliceblue;
    text-align: center;
    font-size: 100%;
    padding-top: 100px;
}

.h4-contact {
    color: aliceblue;
    font-size: 110%;
    text-align: center;
}

/* form section style */

input[type=text], input[type=submit], textarea, input[type=email] {
    width: 80%;
    padding: 10px;
    border: 1px solid grey;
    margin-left: 10%;
}

label {
    color: #fff;
}

.col-30 {
width: 80%;
margin-left: 10%;
padding-bottom: 20px;
}

/* menu style */

.order-menu {
    height: 100vh;
    width: 80%;
    background-image: url(../css/images/pexels-photo-3324438.jpeg);
    background-repeat: repeat;
    background-position: center;
    margin-left: 10%;
    float: none;
    border: 25px;
    border-radius: 10px;


}
.order-head {
    text-align: center;
    font-size: 200%;
    color: aliceblue;
}
.soon {
    padding-top: 10px;
    color: #49111a;
    font-family: Montserrat;
    font-size: 220%;
    text-align: center;
}

 /* footer */

footer {

    padding-top: 10px;
    width: 100%;
    background-color: #a9927d;
    opacity: 0.8;
    text-align: center;
    font-size: 150%;
    overflow: hidden;
    
}
footer p {

    padding-right: 25px;
}
.footer-links {
    padding-top: 25px;
    padding-right: 25px;
    font-size: 200%;
    color: antiquewhite;
}
.footer-links:hover {

    color: black;
}   

/* Media Queries Phone */

@media screen and (max-width: 480px) {
    
    .site-menu {
        font-size: 100%;
        padding: 5px;
    }
    
}
@media screen and (max-width: 768px) {
    .site-menu {
        font-size: 100%;
        padding: 8px;
    }
    
}
@media screen and (max-width: 480px) {
    .repo {
        font-size: 100%;
        width: 100%;
        margin: 0 auto;
    }
    
        
    }
@media screen and (max-width: 480px) {
    .wine-text {
        margin-top: 70px;
    }
}    
@media screen and (max-width: 480px) {
    .about-text {
            font-size: 80%;
        }
        
    }



    


    
    
    


    




   

    


